<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269414759521-1lsqhj6pp8e17a2cqffauvmvvjrrbbi7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269414759521-1lsqhj6pp8e17a2cqffauvmvvjrrbbi7</string>
	<key>API_KEY</key>
	<string>AIzaSyCrzAm3Ta8F1iXpHbDcXZC6FS7qahnkMvc</string>
	<key>GCM_SENDER_ID</key>
	<string>269414759521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MAS2020.C-MAS</string>
	<key>PROJECT_ID</key>
	<string>c-mas-158be</string>
	<key>STORAGE_BUCKET</key>
	<string>c-mas-158be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269414759521:ios:c4c54e8215b796d0273e20</string>
	<key>DATABASE_URL</key>
	<string>https://c-mas-158be.firebaseio.com</string>
</dict>
</plist>